/*Variaveis*/
:root {
  --main-color: #088B38;;
}
/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
  border:0;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing:border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#333;
  line-height:24px;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight:bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
img{width:100%;}
p{letter-spacing:1px;}
a,
a:hover{
  color:#333;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#333;
  padding:8px 0;
  font:16px 'Open Sans', sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#333;
  font:16px 'Open Sans', sans-serif;
  background:transparent;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="search"]::placeholder,
input[type="url"]::placeholder{color:#333;}

/* CONTEÚDO */
.container{
    width:1135px;
    margin:0 auto;
}
h1{
    color:var(--main-color);
    font:48px 'Raleway', sans-serif;
    margin-bottom:24px;
}
h2{
  color:var(--main-color);
  font:40px 'Raleway', sans-serif;
  margin-bottom:24px;
}
h3{
  color:var(--main-color);
  font:32px 'Raleway', sans-serif;
  margin-bottom:16px;
}
h4{
  color:var(--main-color);
  font:24px 'Raleway', sans-serif;
  margin-bottom:16px;
}

.festival-1{
    display:flex;
    margin-top:123px;
    margin-bottom:176px;
    justify-content:flex-end;
}
.festival-1 figure{
    width:289px;
    margin-right:55px;
}
.festival-1 article{
    width:626px;
    margin-top:29px;
}
.festival-1 p{
    margin-bottom:20px;
    width:560px;
}
.festival-2{
    width:656px;
    margin-bottom:62px;
}
section.festival-2-espacos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 62px 0 200px;
}
section.festival-2-espacos figure {width: 656px;margin-right: 16px;}
section.festival-2-espacos article {width: 463px;}
section.festival-2-espacos .info-espaco h4.hasImgBefore {
  font:24px 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: 0.04em;
  margin-bottom: 19px;
  color: #000000;
  display: flex;
  padding-left: 4px;
  border-left: 4px solid var(--main-color);
}
/* section.festival-2-espacos .info-espaco h4.hasImgBefore::before {
  background: url(/imagens/separador.png);
  content: '';
  width: 4px;
  height: 30px;
  margin-right: 8px;
  display: flex;
  position: relative;
} */
section.festival-2-espacos .info-espaco p {
  font:16px 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #333333;
  margin-bottom: 40px;
}
section.festival-2-espacos .info-espaco strong {
  display: block;
  margin-right: 12px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 120%;
}
section.festival-2-espacos .info-espaco strong span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #808080;
}
section.festival-2-espacos .info-espaco ul li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
}
section.festival-2-espacos .info-espaco ul li img,
section.festival-sliderEspacos img{
  width: auto;
}

section.festival-sliderEspacos {margin-bottom: 200px;}
/* section.festival-sliderEspacos img.leftArrow::after,
section.festival-sliderEspacos img.rightArrow::after {
  content: "aa";
  position: relative;
  width: 60px !important;
  height: 60px;
  display: block;
  background: #F2F2F2;
} */
section.festival-sliderEspacos img.rightArrow {transform: rotate(180deg);}
section.festival-sliderEspacos h2 {
  margin-bottom: 40px;
  padding-left: 170px;
}
section.festival-sliderEspacos figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
section.festivalIngresso {
  text-align: center;
  padding: 80px 0;
  width: 100%;
  height: 701px;
  background: url(../imagens/background-ingressos.png) no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}
section.festivalIngresso h2 {margin-bottom: 40px;}
section.festivalIngresso article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
section.festivalIngresso article .sp,
section.festivalIngresso article .rj {
  width: 560px;
  padding: 40px 0;
  border: 1px solid var(--main-color);
  background: rgba(255, 255, 255, 0.3);
}
section.festivalIngresso address {
  font:24px 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #808080;
  margin-bottom: 16px;
}
section.festivalIngresso article section > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 25px;
}
section.festivalIngresso img,
section.festivalIngresso figure {width: auto;vertical-align: super;}
section.festivalIngresso .datas {margin: 32px 0 80px;}
section.festivalIngresso .datas p {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.08em;
  margin-top: 8px;
  color: #808080;
  text-align: right;
  max-width: 75%;
}
section.festivalIngresso .datas p span {font-weight: 400;}
section.festivalIngresso button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 368px;
  max-height: 50px;
  background: var(--main-color);
  color: #FFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  border: none;
}
article.seguranca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 200px;
}
article.seguranca p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4D4D4D;
}
article.seguranca figure{position: relative;}
article.seguranca img,
.festa img {width: auto;}
article.seguranca img:first-child,
article.seguranca img:nth-child(3) {
  position: absolute;
  top: 35%;left: 50%;
  transform: translate(-50%,50%);
}
.festa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 156px;
}
.festa h2 {
  color: #000;
  margin-bottom: 5px;
}
.festa h2 strong {
  font-family:'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: var(--main-color);
}
.festa p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #333333;
  max-width: 458px;
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  background: #FFFFFF;
  border: 1px solid #088B38;
}
.newsletter .dados {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.newsletter h4 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-top: 24px;
}

.newsletter .dados input {
  margin-right: 12px;
  max-width: 300px;
  max-height: 56px;
  padding: 16px;
  border: 1px solid #BFBFBF;
}
.newsletter .dados input::placeholder {color: #BFBFBF;}
.newsletter .dados button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  background: #088B38;
  color: #FFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  min-width: 80px;
  min-height: 50px;
  margin-left: 12px;
}

footer {
  text-align: center;
  height: 500px;
}
@media screen and (min-width:780px) {
  .desk-none{display: none !important;}
}
/* MOBILE */
@media screen and (max-width:779px){
    img{width: auto;}
    img.banner-top,
    footer img {width: 100%;}
    .container,
    .festival-1 p,
    .festival-1 article,
    .festival-2{width:100%;}
    .container > section{padding:0 24px;}
    h1{
      font-size:32px;
      line-height:44px;
    }
    h2{font-size:24px;}
    p{
        line-height:21px;
        font-size:14px;
    }
    .festival-1{
        display:block;
        margin-top:24px;
        margin-bottom:40px;
    }
    .festival-1 figure{display:none;}

    /*HIDDEN IMGS DESKTOP*/
    .d-none{display: none;}
    section.festival-2-espacos article{width: 100%;}
    footer{height: max-content;}
    section.festival-2-espacos,
    article.seguranca {flex-direction: column;}
    .festival-2 h2 {
      margin-bottom: 8px;
    }
    section.festival-2-espacos figure {width: 100%;}
    .info-espaco figure {margin: 24px 0;}
    section.festival-2-espacos .info-espaco p {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.04em;
      margin-bottom: 24px;
    }
    section.festival-2-espacos .info-espaco strong {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    section.festival-2-espacos .info-espaco ul li {gap: 8px;}
    section.festival-2-espacos .info-espaco ul li img {
      width: 24px;
    }
    section.festival-2-espacos {
      margin: 24px 0 96px;
    }
    section.festival-sliderEspacos {margin-bottom: 45px;}
    section.festival-sliderEspacos h2 {
      margin-bottom: 16px;
      padding-left: 0;
    } 
    section.festivalIngresso {
      height: 100%;
      margin-bottom: 50px;
      padding: 31px 0 32px;
      background: url(../imagens/mobile/background-tickets.png) no-repeat;
    }
    section.festivalIngresso article {
      flex-direction: column;
      gap: 32px;
    }
    section.festivalIngresso article .sp, section.festivalIngresso article .rj {
      width: 100%;
      max-width: 330px;
      padding: 16px 0;
    }
    section.festivalIngresso > h2 {
      text-align: left;
      padding-left: 24px;
    }
    section.festivalIngresso article h3{
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 4px;
    }
    section.festivalIngresso article address{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 4px;
    }
    section.festivalIngresso article section > p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 16px;
    }
    section.festivalIngresso img, section.festivalIngresso figure {
      max-height: 3px;
      vertical-align: top;
    }
    section.festivalIngresso .datas {
      margin: 16px 0;
    }
    section.festivalIngresso .datas p {
      max-width: 216px;
      margin: auto auto;
    }
    section.festivalIngresso .datas p strong,
    section.festivalIngresso .datas p strong span {
      font-size: 12px;
      line-height: 18px;
    }

    section.festivalIngresso button {
      max-width: 296px;
    }


    article.seguranca {
      margin-bottom: 24px;
      padding: 0 24px;
    }
    article.seguranca h2 {margin-bottom: 8px;line-height: 29px;}
    article.seguranca p {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.04em;
    }
    .festa {
      margin-bottom: 0;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 	48px;
      padding: 0 24px;
    }
    .festa h2 {
      line-height: 29px;
      font: 24px 'Raleway';
      margin: 0 0 16px;
      /* max-height: 60px; */
    }
    .festa h2 strong {font-size: 24px;line-height: 29px;}
    .festa figure {z-index: -1;margin-left: -22px;}
    .newsletter {
      text-align: left;
      justify-content: flex-start;
      padding: 24px 5px 24px 20px;
      margin-top: -26px;
      background: #FFF;
    }
    .newsletter h4{
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      margin: 0 0 24px;
      padding-left: 10px;
    }
    .newsletter .dados input {
      font-size: 14px;
      max-width: 327px;
      max-height: 50px;
      margin-bottom: 24px;
    }
    .newsletter .dados button {
      width: 100%;
      display: block;
      margin-left: 0;
      margin-right: 10px;
      max-width: 330px;
    }
}

